body {
background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
margin: 0%;
padding: 0%;
}

.fixed-footer {
position: fixed;
bottom: 0;
width: 100%;
height: 35px;
background-color: #0f0c29;
text-align:center;
display: flex;
justify-content: center;
align-items: center;
}

.fixed-footer a {
color:white;
text-decoration: none;
margin: 0 10px;
}

.fixed-footer a:hover {
color: #000;
}
.links {
    text-align: center;
    background-color: transparent;
    padding: 10px;
}
.links a {
    color: #ffff;
    margin: 0 10px;
}
.links a:hover {
    color: #000;
}
.content{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    max-width: 400px;
}
.content dd, .content dt{
    text-align: left;
}
.card {
width: fit-content;
height: min-content;
padding: 12px;
background: rgba(88, 88, 88, 0.5);
box-sizing: content-box;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto; /* Yatay ve dikey olarak ortalamak için */
position: absolute; /* Kartı ortalamak için */
top: 50%; /* Yatay ve dikey olarak ortalamak için */
left: 50%; /* Yatay ve dikey olarak ortalamak için */
transform: translate(-50%, -50%); /* Yatay ve dikey olarak ortalamak için */
}
h1 {
    margin: 0%;
}
